@model List<Movie>

<div class="card shadow border-0 mt-3  pb-3">
    <div class="card-header bg-secondary bg-gradient m-lg-1 py-3 ">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Movie Manager</h2>
            </div>
        </div>
    </div>
    <div class=" card-body   p-5">
        <div class=" row">
            <div class=" col-12 text-end pb-3">
                <button class=" btn btn-dark" id="btnAdd">
                    <i class="bi bi-patch-plus"></i> Create
                </button>
            </div>
        </div>
        <div class=" container-fluid">
            <table id="tblDB" class=" table table-hover table-bordered px-5 " style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Movie Id
                        </th>
                        <th>
                            Movie Name
                        </th>
                        <th>
                            Genre
                        </th>
                        <th>
                            Time
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tblData"></tbody>
            </table>

            <div class=" modal fade modal" id="userModal">
                <div class=" modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="text-info modal-title" id="addMovie">Add Movie</h2>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="movieForm">
                                <div class="form-group" id="cId">
                                    <label>Id</label>
                                    <input type="text" class="form-control" id="MovieId" disabled="disabled" />
                                </div>
                                <div class="form-group">
                                    <label>Movie Name</label>
                                    <input type="text" placeholder="Enter Movie Name" class="form-control" id="MovieName" />
                                </div>
                                <div class="form-group">
                                    <label>Genre</label>
                                    <input type="text" placeholder="Enter Genre" class="form-control" id="GenreName" />
                                </div>
                                <div class="form-group">
                                    <label for="time">Enter the Movie time:</label>
                                    <input type="time" id="Time" name="time" class="form-control">
                                </div>
                                <div class="form-group mt-2">
                                    <label>Image</label>
                                    <input type="file" name="file" class="form-control" id="Image"/>
                                    <div id="movieImage" class="mt-3"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">

                            <button class="btn btn-primary" onclick="AddMovie();" id="AddData">Create</button>
                            <button class="btn btn-warning" onclick="UpdateMovie();" style="display:none" id="UpdateData">Update</button>

                            <button class="btn btn-danger btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/Movie.js"></script>

}